{% extends 'newsapp/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
| Kontakt
{% endblock %}

{% block body %}

<div class="row main-image">
  <img src="" alt="Ilustracja kontaktowa">
</div>

<form class="contact-form" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.subject|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.content|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ form.source|as_crispy_field }}
    </div>
    <div class="col-md-6">
      {{ form.info_type|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.url|as_crispy_field }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Wyślij</button>
</form>

<div class="row about-voluntary-service">
  <div class="col-md-12">
    <h3>Wolontariat</h3>
    <p>
      Wolontariusze wnoszą ogromny wkład w nasz zespół. Prosimy o wypełnienie <a href="{% url 'newsapp:voluntary_service' %}">formularzu wolontariatu</a>, a my skontaktujemy się, gdy będziemy mieli odpowiednią okazję.
    </p>
  </div>
</div>

<div class="row about-error">
  <div class="col-md-12">
    <h3>Znalazłeś błąd?</h3>
    <p>
      Staramy się, aby nasze kontrole faktów były jak najdokładniejsze i aktualne. Jeśli uważasz, że popełniliśmy błąd lub brakuje niektórych istotnych informacji, <a href="{% url 'newsapp:contact' %}">skontaktuj się z nami</a>.
    </p>
  </div>
</div>

{% endblock %}