docutils==0.15.2
lxml==4.5.1
pywin32==228
Django==2.2.10
dj_database_url==0.5.0
Unipath==1.1
numpy==1.18.2
brotli==1.0.9
cryptography==3.1.1
Cython==0.29.21
importlib_metadata==2.0.0
ipaddr==2.2.0
keyring==21.4.0
lockfile==0.12.2
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.13.0
pyOpenSSL==19.1.0
python-decouple==3.3
typing_extensions==3.7.4.3
wincertstore==0.2
zipp==3.3.2
