<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Jakub Śliż">
  <meta name="keywords" content="Fake news, dezinformacja, fact-checking, stowarzyszenie, manipulacja informacją, czarnonabiałym, Czarno na Białym">
  <meta name="description" content="Czarnonabiałym to strona która walczy z dezinformacją, fake newsami i manipulacją opinii publicznej!">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock%}Czarno na Białym</title>
</head>

<body>
  {% block body_block %}

  {% endblock %}
</body>

</html>